<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ksprefs"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ksprefs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".activities.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.dynamic.DynamicActivity" />
        <activity android:name=".activities.observer.ObserverActivity" />
        <activity android:name=".activities.all.AllActivity" />
        <activity android:name=".activities.ambiguous.AmbiguousActivity" />
        <activity android:name=".activities.batch.BatchActivity" />
        <activity android:name=".activities.numbers.NumbersActivity" />
        <activity android:name=".activities.json.JsonActivity" />
    </application>
</manifest>