:root {
  --md-admonition-icon--gradle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18-.21 0-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18.21 0 .41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9M12 4.15l-1.89 1.07L16 8.61l1.96-1.11L12 4.15M6.04 7.5 12 10.85l1.96-1.1-5.88-3.4L6.04 7.5M5 15.91l6 3.38v-6.71L5 9.21v6.7m14 0v-6.7l-6 3.37v6.71l6-3.38Z"/></svg>')
}
.md-typeset .admonition.gradle,
.md-typeset details.gradle {
  border-color: rgb(43, 155, 70);
}
.md-typeset .gradle > .admonition-title,
.md-typeset .gradle > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .gradle > .admonition-title::before,
.md-typeset .gradle > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--gradle);
          mask-image: var(--md-admonition-icon--gradle);
}


:root {
    --md-primary-fg-color:        #00E676;
    --md-primary-fg-color--light: #69F0AE;
    --md-primary-fg-color--dark:  #00C853C;

    --md-accent-fg-color:        #00E5FF;
    --md-accent-fg-color--light: #40C4FF;
    --md-accent-fg-color--dark:  #0091EA;
}
